/*font*/
@import url(https://fonts.googleapis.com/css2?family=Signika&
family=Merienda:wght@700& family=Fredericka+the+Great&display=swap);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*normalize*/
:root {
    /*colors*/
    --primary: #eba1eb;
    --secondary: #f28ecf;
    --terteary: #f6c6a1;
    --quaternary: #f8efb0;
    --alternative: #f7efe0;
    --text-color: #20aed8;
    /*spacings*/
    --spacing-large: 6rem;
    --spacing-medium: 2.4rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem;
    /*font-family*/
    --font-principal: 'merienda', cursive;
    --font-title: 'Fredericka', cursive;
    /*font-sizes*/
    --text-large: 5.2em;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;
}

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
hmtl {
    font-size: 62.5%;
}

body {
    background-color: antiquewhite;

}
.navbar{
    background-color: var(--primary);
}
.navbar-toggle{
    background-color: var(--primary);
}
.offcanvas{
    background-color: var(--terteary);
}
/* animaciones */
a:link {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover {
    color: var(--quaternary);
}

a:active {
    color: aliceblue;
}
/* animaciones imagenes */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eba1eb;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.text__menu__nosotras {

    text-align: center;
    font-family: var(--font-title);
    color: black;

}
.container {

    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    margin-top: var(--spacing-small);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-small);
}
/* animacion compras */
.animation {
    position: relative;
    width: 100%;
}

.image_compra {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.animation:hover .image_compra {
    opacity: 0.3;
}

.animation:hover .middle {
    opacity: 1;
}

.text_compras {
    background-color: var(--terteary);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*Main*/

.container {

    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    margin-top: var(--spacing-small);
}

.text__menu {
    text-align: center;
    font-family: var(--font-title);
    color: var(--text-color);

}

.text__menu__nosotras {

    text-align: center;
    font-family: var(--font-title);
    color: var(--text-color);

}

/* gallery */
.gallery {
    width: 100%;
    height: 1fr;
    display:flex;
    flex-direction: block;
    
    gap: var(--spacing-small);
}
.gallery img{
    height: auto;
}

/* Productos */
.gallery__pro {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: var(--spacing-xsmall);
    padding: 20px;
    grid-auto-flow: dense;
}

.gallery__pro img {
    height: 447px;
}


/* Sugerencias */
.sugerencias {

    background-color: var(--quaternary);
}
/*Compras*/
.compras__boos{
    display: flex;
    justify-content: space-around;
    
}
.btn{
background-color:var(--secondary);
}

.footer {
    background-color:#f28ecf;
}


@media screen and (max-width: 1000px){
    .compras__boos{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(1, 1fr);
        gap: var(--spacing-small);
    }

}
@media screen and (max-width: 780px){
    .gallery{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px){
    .compras__boos{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
}
    
