/* animaciones */
a:link {
    color: $color--text-color;
}

a:visited {
    color: $color--text-color;
}

a:hover {
    color: $color--quaternary;
}

a:active {
    color: $color--alternative2;
}

/* animaciones imagenes */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color--primary;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

    &:hover.overley {
        height: 100%;
    }

    
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    &text_compras {
        background-color: $color--terteary;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }
}

/* animacion compras */
.animation {
    position: relative;
    width: 100%;
 
 
 .image_compra {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;}

    &:hover .image_compra {
        opacity: 0.3;
    }
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -ms-transform: translate(-50%, -50%);

    &animation:hover .middle {
        opacity: 1;
    }
    
}



