.navbar{
    background-color:$color--primary;
    &-toggle{
    background-color:$color--primary;}
    & offcanvas{
        background-color:$color--terteary;}
    
}

.container {

    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    margin-top: $spacing-small;
}