/* Sugerencias */
.sugerencias {

    background-color:$color--quaternary;
}
/*Compras*/
.compras__boos{
    display: flex;
    justify-content: space-around;
    
}
.btn{
background-color:$color--secondary;
}