/* Variables de colores*/
$color--primary: #eba1eb;
$color--secondary: #f28ecf;
$color--terteary: #f6c6a1;
$color--quaternary: #f8efb0;
$color--alternative: #f7efe0;
$color--alternative2:aliceblue;
$color--text-color: #20aed8;
/*spacing size*/
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;
    
