<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!--incio header-->
    <header class="flex">
        <picture class="header__logo">
            <a href="../index.html"><img class="header__img" src="../assest/img/Logo.jpeg" alt="Logo"></a>
        </picture>
        <nav class="navigation">
            <ul class="menu">
                <li class="menu__item">
                    <a href="../view/nosotras.html">Nosotras</a>
                </li>
                <li class="menu__item">
                    <a href="../view/productos.html">Productos</a>
                </li>
                <li class="menu__item">
                    <a href="../view/contactos.html">Contactos</a>
                </li>
                <li class="menu__item">
                    <a href="../view/compras.html">Compras</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--fin header-->


    <main>
        <section id="compras" class="compras">

            <picture class="compras__img">
                <img src="../assest/img/botella_compra1.jpeg" alt="botella">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/botella_compra2.jpeg" alt="botella">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/botella_compra3.jpeg" alt="botella">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/botella_compra4.jpeg" alt="botella">
            </picture>

            <div>
                <h4>Vaso tornasolado</h4>
                <h5>$4.600</h5>
                <p>Hermoso vaso de acero inoxidable, diseño excepsional!!. Lo podes usar con o sin bombilla!!. Libre de PBA.
                    Capasidad 900 ml</p>
                <label for="vaso">Cantidad</label>
                <select name="vaso" id="vaso">
                    <option value="">Cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </section>

        <section id="compras" class="compras">
            <picture class="compras__img">
                <img src="../assest/img/set_mate_compra.jpeg" alt="mate">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/set_mate_compra1.jpeg" alt="mate">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/set_mate_compra2.jpeg" alt="mate">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/set_mate_compra3.jpeg" alt="mate">
            </picture>
            <div>
                <h4>Botella</h4>
            <h5>$3.700</h5>
            <p>Botella de Acero inoxidable. Mantiene hasta 24 hs liquidos frios y hasta 12 hs liquidos calientes. Tapa
                imantada. Con colores vivos que enamoran.</p>
            <input type="checkbox" name="cbox1">Botella con Flores
            <input type="checkbox" name="cbox2">Botella Con Rombos
            
            <label for="botella">Cantidad:</label>
            <select name="botella" id="Botella">
                <option value="">Cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            </div>
        </section>

        <section id="compras" class="compras">
            <picture class="compras__img">
                <img src="../assest/img/vaso_compra.jpeg" alt="vaso">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/vaso_compra1.jpeg" alt="vaso">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/vaso_compra2.jpeg" alt="vaso">
            </picture>
            <picture class="compras__img">
                <img src="../assest/img/vaso_compra3.jpeg" alt="vaso">
            </picture>
            <div>
                <h4>Set Mate</h4>
            <h5>$1800</h5>
            <p>Kit de mate, yerbera y de azucarera con pico vertedor.</p>
            <input type="checkbox" name="cbox1">Margaritas
            <input type="checkbox" name="cbox2">Rosas
            <label for="set mate">Cantidad</label>
            <select name="set mate" id="set mate">
                <option value="">Cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </div>
        </section>
    </main>




































    <!--Incio del footer-->
    <footer>
        <div>
            <a href="../index.html">Ir al Incio</a>

            <h2>Seguinos en Nuestras Redes</h2>
            <Ul class="redes">
                <li><a href="https://www.instagram.com/lasgonzalez.tienda/"><img src="../assest/img/instagram.png"
                            alt="Instagram" class="img__inst"></a></li>
                <li>Instagram</li>
                <li><a href="https://wa.me/c/5493543640417"><img src="../assest/img/Whatsapp.png" alt="whatsapp"
                            class="img__inst"></a></li>
                <li>Catalogo whatsapp</li>
            </Ul>
        </div>


        <fieldset>
            <legend>Newsletter</legend>

            <input type="Nombre" id="Nombre" placeholder="Nombre">

            <input type="email" id="Email" placeholder="Email">

            <input type="submit">
        </fieldset>




    </footer>
</body>

</html>