<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
     <!--incio header-->
     <header class="flex">
        <picture class="header__logo">
            <a href="../index.html"><img class="header__img" src="../assest/img/Logo.jpeg" alt="Logo"></a>
        </picture>
        <nav class="navigation"> 
            <ul class="menu">
                <li class="menu__item">
                    <a href="../view/nosotras.html">Nosotras</a>
                </li>
                <li class="menu__item">
                    <a href="../view/productos.html">Productos</a>
                </li>
                <li class="menu__item">
                    <a href="../view/contactos.html">Contactos</a>
                </li>
                <li class="menu__item">
                    <a href="../view/compras.html">Compras</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--fin header-->
    <!--Sugerencias-->
    <Section>

        <h1 >Sugerencias</h1>
        <main>
            Como emprendimiento queremos seguir creciendo y necesitamos de tu ayuda, para saber en que mejorar
        </main>
    
        <fieldset class="sugerencias"> 
            <legend>Sugerencias</legend>
            
                <label for="Nombre">Nombre</label>
                <input type="text" name="Nombre" id="Nombre" placeholder="Ingresa tu Nombre">
                <label for="Apellido">Apellido</label>
                <input type="text" name="Apellido" id="Apellido" placeholder="Ingresa tu Apllido">
                <label for="Correo">Correo</label>
                <input type="email" name="Correo" id="Correo" placeholder="Ingresa tu Correo">
                <label for="Sugerencia">Sugerencia</label>
                
                <textarea name="Sugerencias" id="Sugerencias" cols="30" rows="10" maxlength="350"></textarea>
            
    
            <input type="submit">
        </fieldset>
    
    <h2>Contactos</h2>
        <main>
            <ul>
                
                <li><a href="https://wa.me/c/5493543640417">Catalogo Whatsapp</a></li>
                <li>Retiro de productos</li>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d852.1408621262096!2d-64.30924751190172!3d-31.315808853107512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e02bc1d85e3552!2zMzHCsDE4JzU2LjkiUyA2NMKwMTgnMzEuMyJX!5e0!3m2!1ses-419!2sar!4v1654733869531!5m2!1ses-419!2sar"
                    width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
    
            </ul>
        </main>
    
    </Section>
    <!--Fin de Sugerencias-->





    <footer>
        <div>
            <a href="../index.html">Ir al Incio</a>
    
            <h2>Seguinos en Nuestras Redes</h2>
            <Ul class="redes">
                <li><a href="https://www.instagram.com/lasgonzalez.tienda/"><img src="../assest/img/instagram.png" alt="Instagram" class="img__inst"></a></li>
                <li>Instagram</li>
                <li><a href="https://wa.me/c/5493543640417"><img src="../assest/img/Whatsapp.png" alt="whatsapp" class="img__inst"></a></li>
                <li>Catalogo whatsapp</li>
            </Ul>
        </div>
    
    
        <fieldset>
            <legend>Newsletter</legend>
    
            <input type="Nombre" id="Nombre" placeholder="Nombre">
    
            <input type="email" id="Email" placeholder="Email">
    
            <input type="submit">
        </fieldset>
    
    
    
    
    </footer>
</body>
</html>